<h1>{{this.key}}</h1>
{{#each this.body}}
<hr>
<div class="card text-center">
  <div class="card-header">
    Game: {{Name}}
  </div>
  <div class="card-body">
    <p class="card-title">Year Published: {{Year_Published}}</p>
    <p class="card-title">Min Players: {{Min_Players}}</p>
    <p class="card-title">Max Players: {{Max_Players}}</p>
    <p class="card-title">Min Playtime: {{Min_Playtime}}</p>
    <p class="card-title">Max Playtime: {{Max_Playtime}}</p>
    <p class="card-title">Description: {{Description}}</p>
    <p class="card-title">Price: {{Price}}</p>
  </div>
</div>
{{/each}}