
{{#each this}}
<div class="card border-primary mb-3">
  <div class="card-header">
    Name: {{Name}}
  </div>
  <div class="card-body">
    <p class="card-title">Year Published: {{Year_Published}}</p>
    <p class="card-title">Min Players: {{Min_Players}}</p>
    <p class="card-title">Max Players: {{Max_Players}}</p>
    <p class="card-title">Min Playtime: {{Min_Playtime}}</p>
    <p class="card-title">Max Playtime: {{Max_Playtime}}</p>
    <p class="card-title">Description: {{Description}}</p>
    <p class="card-title">Price: {{Price}}</p>
  </div>
</div>
{{/each}}
